/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    all: unset;
}


/*------------------------------------------------------------------------------------*/

/*estilos genericos*/
body {
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(0, 0, 25);
	line-height: 1.5;
}
.container {
	width: 95%;
	max-width: 1140px;
	margin: 0 auto;
}
a{
	cursor: pointer;
	transition: color 0.2s; 
}
.enlace{
	color:rgb(240, 93, 80);
}
.enlace:hover{
	color:rgba(240, 93, 80, 0.5);
}
.rojo{
	color:rgb(240, 93, 80);
}
cite, .motivo{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic; 
}
em{
	font-style: italic; 
}
strong{
	font-weight: bold;
}


header{  /*tanto para el del main como el del body*/
	text-align: center;
	padding: 45px 0 0 0 ;
}
h1{
	font-size: 3.2rem; 
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(240, 93, 80);
	transition: color 0.3s; 
	font-weight: bold;
}
h1>a:hover {  /* holo para el enlace del titulo al pasar por encima*/
	color: rgba(240, 93, 80, 0.5);
}
nav{
	padding: 20px 0;
	line-height: 1.4;
}
.navegador{ /*solo pra los enlaces del nav*/
	color: rgb(0, 0, 25);
	font-size: 1.2rem; 
}
.navegador:hover{ /*solo al pasar el raon por encima de los enlaces del nav*/
	color: rgba(0, 0, 25, 0.5);
}
.actual{ /*para resaltar el enlace del nav de la pagina en la que estamos*/
	font-weight: 700;
	font-style: italic; 
}

/*a partir de aqui distintos estilos para elementos del main*/
h2{
	font-size: 3rem;
	padding: 20px 0 5px 0;
	font-weight: bold;
}
p{
	padding: 10px 0;
}
#introduccion{
	font-size: 1.3rem; 
	padding:20px 160px;
}
#autor{
	font-size: 1.7rem; 
}
#fecha{
	font-size: 0.75rem; 
}
figure{
	padding: 30px 0;
	text-align: center;
}
figcaption{
	font-size: 0.7rem; 
	padding: 15px 0 0 0;
}
#antecedente{
	font-size: 1.3rem;
	font-weight: bold;
	text-align:start;
	padding:10px 345px 20px 0;
}
h3{
	font-size: 1.7rem;
	padding:10px 0 ;
	font-weight: bold;
}
blockquote{
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px 35px;
}
blockquote>#discurso{
	font-size: 1.3rem;
	padding: 10px 0;
}
#firma{
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding:30px 0 100px 0;
	
}

/*añadidos para el main de la segunda pagina*/
.periodo{
	font-size: 1.4rem; 
}
.orden{
	font-size: 0.75rem; 
}
ol{
	list-style-image: url(../img/idioma.png);
	margin: 0 300px;
	font-size: 1.65rem;
	color:rgba(0, 0, 25, 0.5);
}
ol ul{
	list-style: square;
	margin: 0 40px;
	font-size: 1.7rem;
}
ol ul li{
	padding: 0;
}
ol ul li a{
	font-size: 1.3rem;
}
ul li::marker{   
	color:black;
}
.listas{
	margin: 50px 0;
}
.consulta{
	text-align: center;
	padding: 0 0 100px 0;
}

/*añadidos para el main de la tercera pagina*/
dt{
	font-size: 1.65rem;
}
dd{
	padding:20px 80px 24px 45px;
	font-size: 1.3rem;
}
dd>strong{
	color:rgba(0, 0, 25, 0.5);
	font-size: 1.65rem;
}

/*estilos de los footers de la pagina*/
body>footer{
	background-color: rgb(0, 0, 25);
	color: rgb(255, 255, 255);
	width: 100%;
	text-align: center;
	height: 50px;
	padding:50px 0;
}
#pie-enlace{
	line-height: normal;
	height: 100px;
	padding: 50px 0;
}
#enlacePie{
	font-size: 0.9rem;
}






